.dot {
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .safe {
    height: 25px;
    width: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
  }